#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.responsive {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #aaaaaa4d;
}

::-webkit-scrollbar-thumb {
  /* background: #fc8853; */
  background: #9a9a9a89;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
